.content{
    display: flex;
    margin: 0px 0px;
    align-items: center;
    justify-content: center;
}

section{
    margin-right: 30%;
}

section .page-info{
    margin-left: 60%;
}

section h1{
    margin-bottom: 60%;
    white-space: nowrap;
}

.back-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
    text-decoration: none;
    color: black;
  }
  
  .flecha-voltar {
    font-size: 1.2rem;
  }

form{
    width: 45%;
}